/*When the user hovers over button tags, text color should change to #00FF00*/
$btColor: #FF0000;
$btHoverColor: #00FF00;
button {
    color: $btColor; 
    &:hover {
      color: $btHoverColor; }
    }